{% extends "base_blog.html" %}

{% block content %}
    <article>
        <h2>Todas as postagens</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <table border="1">
            <tbody>
            {% for p in posts %}
                <tr>
                    <td>{{ p.timestamp.strftime('%Y-%m-%d') }}</td>
                    <td>{{ p.author.username }}</td>
                    <td>{{ p.body }}</td>
                    <td>
                    {% if current_user.id == p.author.id %}
                        <a href="{{ url_for('post', post_id=p.id) }}">Edit</a>
                    {% endif %}
                    </td>
                </tr>
            {% else %}
                Sem postagens até o momento
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
